/* -------------------
----------------------
    MEDIA QUERY  BOOTSTRAP
----------------------
------------------- */
@media (max-width: 767px){

    a.link{font-size: 93%}
    .mainBlock{ width: 100%; padding: 20px 10px; }
    a, h1, h2, h3, h4, h5, h6, span, p, footer{ font-size: 90%;}
    
    .videos{ width: 120% }
    .videoInfos{ width: 120% }
    
    a.btnShowArticle{ font-size: 65%; padding:auto;}
    button.btnShowBlog{ font-size: 80%; margin-top: -9%; margin-left: 8%;}
    button.btnShowForum, button.btnSendMessage{ font-size: 80%;}
    
    .article img{ display: none;}
    .article { width: 120%;}
    .articleText{ width: 100%; padding: 1px 1px;}
    
    .forum h3{ margin-top: -8%; }
    p.forumText{ display: inline-block; width: 100%; margin-left: 1%;}
    button.btnShowForum{ margin-left: 55%;}
    h3.ContactTitle{ margin-bottom: 6px;} 
    .contact textarea{ font-size: 70%;}
}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}

/* -------------------
----------------------
    GENERAL
----------------------
------------------- */

body, html{
    margin: 0;
    padding: 0;
    background-color: #e1e1e1;
    font-size: 14px;
}

a, h1, h2, h3, h4, h5, h6, span, p, footer{
    font-family: 'Roboto', sans-serif;
    color: #4e4e4e;
    text-decoration: none;
}
h3, h4{
    color: #1b1928;
}
p{
    line-height: 2;
    font-weight: 300;
    text-align: justify;
}
.center{
    text-align: center;
}
.clear{
    clear: both;
}

/* -------------------
----------------------
       HEADER
----------------------
------------------- */
/* preHeader */
.preHeader{
    height: 45px;
    line-height: 45px;
    vertical-align: middle;
    -moz-box-shadow: 0px 5px 10px 0px #ebebeb;
    -webkit-box-shadow: 0px 5px 10px 0px #ebebeb;
    -o-box-shadow: 0px 5px 10px 0px #ebebeb;
    box-shadow: 0px 5px 10px 0px #ebebeb;
}
.linkContainer{
    float: right;
    margin-right: 7%;
}
.preHeader a{
    font-size: 14px;
    font-weight: 300;
    padding: 0 10px;
    transition-duration: 0.2s;
}
.preHeader a:hover{
    color: #212121;
}

/* header menu navigation*/
header{
    background-color: #fff;
}
.header{
    width: 95%;
    margin: 0 auto;
    min-height: 50px;
    line-height: 120px;
    position: relative;
}
.logo{
    width: 80px;
    vertical-align: middle;
}
.menu{
    float: right;
}

.link{
    font-size: 17px;
    font-weight: 300;
    vertical-align: middle;
    padding: 5px;
    transition-duration: 0.2s;
}
.link:hover, .link.active{
    color: #d7002f;
}

/* -------------------
----------------------
       BANNIERE
----------------------
------------------- */

.banner{
    height: 20%;
    width: 100%;
    line-height: 170px;
    position: relative;
    background-color: #DF0031;
    opacity: 0.6;
    margin: 0px;
    padding: 0px;
    top: 0;
    border: none;
}
.bannerText{
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    margin-left: 8%;
}
.banner h1{
    font-weight: 500;
    color: #fff;
    font-size: 27px;
    margin: 0;
}
.banner h2{
    font-weight: 300;
    color: #ddd;
    font-size: 17px;
    margin: 5px 0 0 0;
    font-style: italic;
}


/* -------------------
----------------------
     MAIN BLOCK
----------------------
------------------- */

.mainBlock{
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    padding: 20px 30px;
}


/* -------------------
----------------------
     VIDEOS SECTION
----------------------
------------------- */
/* all sections */
.sectionTitle{
    font-style: italic;
    font-size: 24px;
}
.lastVideos{
    width: 80%;
    float: left;
}
.videos{
    position: relative;
    margin-right: 20px;
}
.iframeContainer{
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    position: relative;
}
.videoContainer iframe{
    width: 100%!important;
    height: 100%!important;
    position: absolute;
    top: 0;
    left: 0;
}
.videoContainer{
    width: 31.3%;
    display: inline-block;
    float: left;
}

/* Chaque video */
.videoContainer.main{
    width: 68.7%;
    right: 0;
    padding-right: 2.2%;
    box-sizing: border-box;
}
.videoContainer.top{
    position: relative;
    right: 0;
}
.videoContainer.bottom{
    position: absolute;
    right: 0;
    bottom: 0;
}

.videoTitle{
    font-size: 20px;
}
.videoText{
    padding-right: 8px;
}
.videoText a {
    text-decoration: underline;
}

/* PUB ASIDE Bandeau de pub */
.pub{
    float: left;
    width: 20%;
    height: 400px;
    background-color: #c7c7c7;
    text-align: center;
    padding: 30px;
    box-sizing: border-box;
}
/* -------------------
----------------------
       ARTICLES
----------------------
------------------- */
.article{
    margin: 20px 0 60px;
}
.articleTitle{
    margin-top: 0;
    font-size: 19px;
}
.article img{
    width: 15%;
    float: left;
    box-sizing: border-box;
    padding: 0 40px;
}
.article .articleInfos{
    width: 85%;
    float: left;
}
.date{
    float: right;
}

/* Buttons accés aux articles et blog*/
.btnShowArticle, .btnShowBlog {
    color: #ffffff;
    background-color: #df0031;
    font-size: 14px;
    padding: 15px 40px;
    border: 2px solid #df0031;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    font-weight: 400;
    transition-duration: 0.2s;
}
.glyphicon-chevron-right {
    color: #ffffff;
}
.btnShowArticle:hover{
    color: #df0031;
    background-color: #ffffff;
}
.glyphicon-chevron-right:hover{
    color: #df0031;
}

.btnShowBlog{
    margin: 20px 0 40px;
    color: #242230;
    background-color: #fff;
    border: 2px solid #242230;
    position: relative;
    left: 0;
}
.btnShowBlog img{
    vertical-align: middle;
    width: 8px;
    margin-left: 8px;
}
.btnShowBlog:hover{
    left: 7px;
}

/* -------------------
----------------------
      NEWSLETTER
----------------------
------------------- */

.newsletter{
    padding: 25px 0 40px;
    background: #df0031 url("images/trees.png") no-repeat 50% 100%;
    background-size: 80%;
}
.newsletter h3{
    margin-top: 0;
    font-weight: 300;
    color: #fff;font-size: 23px;
}
.newsletter p{
    color: #fff;
    line-height: 1.6;
    margin-bottom: 45px;
}
.newsletter input{
    border: 1px solid #fff;
    width: 30%;
    height: 40px;
    padding: 0 20px;
    box-sizing: border-box;
    background-color: #df0031;
    outline: none;
    color: #fff;
    vertical-align: top;
}
.newsletter button{
    border: 1px solid #fff;
    margin: 0;
    padding: 0;
    width: 60px;
    height: 40px;
    background-color: #fff;
    outline: none;
    color: #fff;
    cursor: pointer;
    position: relative;
}

.glyphicon-triangle-right {
    color: #df0031;
}

/* -------------------
----------------------
      FORUM
----------------------
------------------- */

.forum{
    margin: 70px 0 40px;
}
.forumTitle{
    font-size: 23px;
    margin-left: 8%;
}
.forumText{
    width: 45%;
    margin-left: 4.5%;
    display: block;
    float: left;
}
.btnShowForum{
    color: #242230;
    font-size: 14px;
    padding: 14px 55px;
    border: 2px solid #242230;
    border-radius: 3px;
    background: none;
    cursor: pointer;
    outline: none;
    font-weight: bolder;
    margin-top: 3%;
    margin-left: 20%;
    transition-duration: 0.2s;
}
.btnShowForum:hover {
    color: #ffffff;
    background-color: #242230;

}

/* -------------------
----------------------
      CONTACT
----------------------
------------------- */

.contact{
    background-color: #282828;
    padding: 20px 0;
    text-align: center;
}
.ContactTitle{
    text-align: center;
    color: #ffffff;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 45px;
}

 .contactForm input, .contactForm textarea{
    color: #cecece;
    outline: none;
    height: 20px;
    background: none;
    font-family: 'Roboto', sans-serif;
    padding: 12px 18px;
    border-radius: 3px;
    border: 2px solid #cecece;
    display: block;
    width: 40%;
    margin: 15px auto;
}
.contact input:hover, .contact textarea:hover{
    background-color: #ffffff;
    color:#070000;
}
label{
    color: #ffffff;
    text-align: left;
}
textarea{
    max-width: 40%;
    min-width: 40%;
    min-height: 180px;
}
.btnSendMessage {
    margin-top: 15px;
    color: #ffffff;
    background-color: #df0031;
    font-size: 14px;
    padding: 12px 40px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    font-weight: 400;
    transition-duration: 0.2s;
}
.btnSendMessage:hover {
    background-color: #930027;

}

/* -------------------
----------------------
      FOOTER
----------------------
------------------- */

footer{
    text-align: center;
    font-weight: 400;
    color: #9b9b9b;
    margin-top: 10px;
    margin-bottom: 25px;
}
.footer-blog{
    height: 600px;
}